/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/* A wrapper */
.wrapper {
  max-width: 80%;
  margin: 0 auto; }

/* A wrapper */
i {
  transition: transform 2s ease-in-out; }
  i:hover {
    transform: rotate(360deg); }

/* <h1> styles */
.title {
  font-family: "Lemonada", cursive;
  color: #FF8474;
  font-weight: 600;
  font-size: 3rem;
  animation-duration: 2s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .title {
      font-size: 1.8rem; }
      .title i {
        font-size: 1.8rem; } }

/*  <h2> styles */
.subtitle {
  font-family: "Lemonada", cursive;
  color: #9F5F80;
  font-weight: 400; }

/*  <h3> styles */
.section__title {
  font-family: "Lemonada", cursive;
  color: #FF8474;
  font-weight: bold;
  font-size: 1.7rem; }

/*  <a> styles for links */
.links {
  font-family: "Lemonada", cursive;
  color: #583D72;
  font-size: 1.3rem;
  text-decoration: none;
  transition: 1s; }
  .links:hover {
    color: var(--bs-pink);
    text-decoration: underline wavy; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .links {
      font-size: 1.5rem; } }

.links--btn {
  color: var(--bs-pink);
  background-color: var(--bs-white);
  border-radius: 0.5rem;
  border: 1px solid #FF8474;
  box-shadow: 0px 8px 18px -1px #ff847471;
  width: 20rem;
  padding: 0 1rem;
  transition: 1s;
  align-self: center;
  text-align: center; }
  .links--btn:hover {
    color: var(--bs-white);
    text-decoration: none;
    background-color: var(--bs-red);
    box-shadow: 0px 8px 18px -1px #ffffff; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .links--breadcrum {
    font-size: 1.2rem; } }

/*  <p> and general text styles */
.text, label {
  font-family: "Lato", sans-serif;
  color: #583D72;
  font-weight: 300;
  font-size: 1.5rem; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .text, label {
      font-size: 1.5rem; } }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  label {
    font-size: 1.5rem; } }

/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  CARD  */
.card {
  background-color: var(--bs-white);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 18px -1px #ff847471;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap; }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  FORM  */
.form {
  /*  Fieldset's legend styles*/
  /* Styles for input, radio buttons and button's containers*/ }
  .form fieldset legend.subtitle--mod {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0 0.5rem; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .form fieldset legend.subtitle--mod {
        font-size: 1.5rem;
        text-align: justify; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .form fieldset legend.subtitle--mod {
        font-size: 1.5rem;
        text-align: justify; } }
  .form__inputBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    padding: 0.5rem; }
  .form__radioBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem; }
  .form__btnBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .form__inputBox {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
    .form__radioBox {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 0.5rem; }
      .form__radioBox p.text {
        text-align: start; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form__inputBox {
      display: flex;
      flex-direction: column;
      gap: 0.5rem; }
    .form__radioBox {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      gap: 0.5rem; } }

/* Styles for PlaceHolders*/
.form-control::placeholder {
  text-align: center;
  color: var(--bs-orange); }

/*  Form's card container*/
.card--adoptionsForm {
  width: 29rem; }
  @media only screen and (min-width: 1200px) {
    .card--adoptionsForm {
      width: 36rem; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .title--form {
    font-size: 2.5rem; }
    .title--form i {
      font-size: 2.5rem; } }

@media only screen and (min-width: 1200px) {
  .title--form {
    font-size: 3rem; }
    .title--form i {
      font-size: 3rem; } }

/*  Form's inmage styles*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .form__img {
    display: flex;
    height: 50rem; } }

@media only screen and (min-width: 1200px) {
  .form__img {
    height: 55rem; } }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  PICTURE'S CONTAINERS FORM ZOOM TRANSITION   */
.pictureContainer {
  margin: auto auto;
  overflow: hidden;
  width: 100%;
  border-radius: 1rem; }
  .pictureContainer img {
    height: 25rem;
    width: auto;
    border-radius: 0.5rem;
    transition: transform 1s;
    object-fit: cover; }
    .pictureContainer img:hover {
      transform: scale(1.2); }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  BUTTON  */
.btn--mod {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #FF8474;
  box-shadow: 0px 8px 18px -1px #ff847471;
  height: 3rem;
  width: 10rem;
  transition: 1s; }
  .btn--mod:hover {
    background-color: var(--bs-red);
    color: var(--bs-white);
    box-shadow: 0px 8px 18px -1px #ffffff; }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  HEADER  */
.header {
  border-top: 0.5rem solid #FF8474;
  background-color: var(--bs-white);
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  margin: 0;
  box-shadow: 0px 0.5px 18px -1px #ff84744f;
  z-index: 10; }
  .header .header__logo {
    height: 3rem;
    transition: transform 2s ease-in-out; }
    .header .header__logo:hover {
      transform: rotate(360deg); }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  FOOTER  */
.footer {
  background-color: var(--bs-white);
  border-bottom: 0.5rem solid #FF8474;
  height: 5rem;
  margin: 0;
  padding: 0; }
  .footer__list {
    height: 4rem; }
    .footer__list li a {
      font-size: 1.5rem; }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  INDEX'S PAGE*/
/*  Slider and little form section*/
.adoptionAndContact {
  /*  Little form */ }
  .adoptionAndContact .homeContactUs {
    display: flex;
    width: 30%; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .adoptionAndContact .homeContactUs {
        display: none;
        width: auto; } }
  .adoptionAndContact .card--Indexmod {
    width: 30%; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .adoptionAndContact {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem; }
      .adoptionAndContact .homeContactUs {
        display: none; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .adoptionAndContact {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      gap: 1rem; }
      .adoptionAndContact .slideshow {
        width: auto; }
        .adoptionAndContact .slideshow .pictureContainer--slidershow img {
          height: 45rem;
          width: 100%; } }

/*  Articles section  */
.articleContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem; }
  .articleContainer .card--articleMod {
    width: 50%;
    text-align: center; }
  .articleContainer article {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: auto; }
    .articleContainer article div {
      text-align: center;
      height: auto;
      width: 50%; }
      .articleContainer article div img {
        height: 21rem;
        border-radius: 1rem; }
      .articleContainer article div p {
        margin-top: 1rem;
        text-align: justify; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .articleContainer {
      flex-flow: column wrap;
      justify-content: center;
      margin: 0 auto; }
      .articleContainer .card--articleMod {
        height: 58rem;
        width: 100%; }
      .articleContainer article {
        height: auto;
        flex-flow: column-reverse nowrap; }
        .articleContainer article div {
          text-align: center;
          width: 25rem; }
          .articleContainer article div img {
            height: 25rem;
            border-radius: 1rem; }
          .articleContainer article div p {
            width: 26rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .articleContainer {
      justify-content: space-evenly; }
      .articleContainer .card--articleMod {
        height: 55rem;
        width: auto; }
      .articleContainer article {
        flex-flow: column-reverse nowrap;
        width: 33.9rem; }
        .articleContainer article div {
          text-align: center;
          width: auto; }
          .articleContainer article div img {
            height: 25rem;
            border-radius: 1rem; }
          .articleContainer article div p {
            height: auto; } }
  @media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .articleContainer {
      display: flex;
      justify-content: space-evenly;
      gap: 3rem; }
      .articleContainer .card--articleMod {
        width: 50%;
        text-align: center; }
      .articleContainer article {
        display: flex;
        align-items: center;
        flex-flow: column-reverse nowrap;
        height: auto; }
        .articleContainer article div {
          height: 22rem;
          width: 50%;
          text-align: center;
          width: auto; }
          .articleContainer article div img {
            height: 25rem;
            border-radius: 1rem; }
          .articleContainer article div p {
            height: auto; } }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  ADOPT PAGE  */
/* Dog's styles */
.dogsSection__petCard, .catsSection__petCard {
  max-width: 30%; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .dogsSection__petCard, .catsSection__petCard {
      max-width: 100%; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .dogsSection__petCard, .catsSection__petCard {
      width: 29rem;
      margin-bottom: 2rem;
      max-width: 100%; } }

/* Cat's styles */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .catsSection__petCard {
    max-width: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .catsSection__petCard {
    width: 29rem;
    margin-bottom: 2rem;
    max-width: 100%; } }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/* ADOPTED */
/*  Success adoption's secction */
.successAdopted h2 {
  margin-bottom: 1rem; }

.successAdopted__container .card--adopted {
  width: 30%; }
  .successAdopted__container .card--adopted p {
    text-align: justify; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .successAdopted__container .card--adopted {
      width: 100%; }
      .successAdopted__container .card--adopted .card .pictureContainer {
        width: 100%;
        object-fit: scale-down; }
        .successAdopted__container .card--adopted .card .pictureContainer img {
          height: 25rem;
          width: 100%;
          border-radius: 1rem;
          margin-bottom: 1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .successAdopted__container .card--adopted {
      width: 45%; }
      .successAdopted__container .card--adopted .card .pictureContainer {
        width: 100%;
        object-fit: scale-down; }
        .successAdopted__container .card--adopted .card .pictureContainer img {
          height: 25rem;
          width: 100%;
          border-radius: 1rem;
          margin-bottom: 1rem; } }

/* Other cases Section */
.otherCases {
  margin-bottom: 1rem; }
  .otherCases h2 {
    margin-top: 2rem; }
  .otherCases .otherCases__imageBox .pictureContainer img {
    height: 25rem; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .otherCases .otherCases__imageBox .pictureContainer img {
        height: auto;
        width: 100%;
        height: 100%; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .otherCases .otherCases__imageBox .pictureContainer img {
        height: 30rem;
        width: auto; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .otherCases .otherCases__imageBox .pictureContainer--otherCases {
      margin: 0 auto;
      height: auto;
      width: auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .otherCases .otherCases__imageBox .pictureContainer--otherCases {
      margin: 0 auto;
      height: auto; } }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/*  GODFATHER'S PAGE  */
/*  Disclaimer text's section */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .text--textGodfathers {
    width: 90%; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text--textGodfathers {
    width: 90%;
    margin: auto auto; } }

/*  Godfathee's plan cards */
.card--godfather {
  width: 30%; }
  .card--godfather .godfatherTexBox {
    margin: 0 auto; }
    .card--godfather .godfatherTexBox a {
      margin-top: 7rem; }
    .card--godfather .godfatherTexBox .planRequirements {
      margin-bottom: 2rem;
      list-style-position: outside; }
      .card--godfather .godfatherTexBox .planRequirements li {
        margin: 1rem 0;
        height: auto;
        text-align: justify; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .card--godfather .godfatherTexBox {
        height: 48rem;
        width: auto;
        width: auto;
        height: 48rem; } }
  .card--godfather .pictureContainer--godfather {
    width: 100%; }
    .card--godfather .pictureContainer--godfather img {
      object-fit: container; }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      .card--godfather .pictureContainer--godfather {
        height: auto;
        width: 100%;
        object-fit: container;
        border-bottom: 1rem; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .card--godfather .pictureContainer--godfather {
        height: 30rem;
        width: 30rem;
        object-fit: container;
        height: 30rem;
        width: 30rem; } }
  .card--godfather .planBonus {
    list-style-type: "\1F43E";
    height: 26rem; }
    .card--godfather .planBonus li {
      line-height: 2rem;
      margin: 1rem 0;
      height: auto;
      text-align: justify; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .card--godfather {
      height: 80rem;
      width: 100%;
      margin: 1rem 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card--godfather {
      width: auto; } }
  @media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .card--godfather {
      width: 32%; } }
  @media only screen and (min-width: 1200px) {
    .card--godfather {
      height: 80rem;
      width: 30%; } }

/*  COLORS*/
/*  Body Background */
/*  Border line (header and footer) */
/*  Header shadow */
/*  Card Styles, links--btns hover  */
/*  Btn styles  */
/*  Form styles   */
/*  Title, Section Title  */
/*  Subtitle  */
/*  Links and text  */
/*  links btn hover */
/*  FONTS */
/*  Title, Subtitle, Section Title  */
/*  Text  */
/*  Mixins for Fonts*/
/*  Mixins for containers */
/*  Mixin for Media Queries */
/* EVENTOS */
/* Past Events Section */
.card--events {
  width: auto; }
  .card--events p {
    align-self: center;
    text-align: justify; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .card--events p {
        height: 30rem; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .card--events {
      width: auto;
      margin-bottom: 1rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card--events {
      height: fit-content;
      width: auto;
      margin-bottom: 1rem; } }

/*  Future Eventes Section */
.card--eventsFuture {
  width: 50%;
  align-self: center;
  margin-top: 4rem; }
  .card--eventsFuture h3 {
    margin-top: 1rem; }
  .card--eventsFuture .pictureContainer--event {
    height: 40rem;
    width: 40rem; }
    .card--eventsFuture .pictureContainer--event img {
      height: 40rem; }
  .card--eventsFuture .events__futureTextBox {
    height: 25rem;
    width: 90%;
    margin-bottom: 1rem;
    align-self: center; }
    .card--eventsFuture .events__futureTextBox p {
      text-align: justify;
      margin-top: 1rem; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .card--eventsFuture {
      width: auto;
      align-self: center;
      margin-top: 4rem; }
      .card--eventsFuture .pictureContainer--event {
        height: 30rem;
        width: 100%; }
        .card--eventsFuture .pictureContainer--event img {
          height: auto;
          width: 100%;
          object-fit: contain; }
      .card--eventsFuture .events__futureTextBox {
        height: auto;
        width: auto;
        width: auto;
        height: auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card--eventsFuture {
      width: auto;
      align-self: center;
      margin-top: 4rem; }
      .card--eventsFuture .pictureContainer--event {
        height: 50rem;
        width: 50rem; }
        .card--eventsFuture .pictureContainer--event img {
          height: 50rem;
          width: 100%; }
      .card--eventsFuture .events__futureTextBox {
        height: 20rem;
        width: 90%; } }
  @media only screen and (min-width: 1025px) and (max-width: 1199px) {
    .card--eventsFuture {
      width: auto;
      align-self: center;
      margin-top: 4rem; }
      .card--eventsFuture .pictureContainer--event {
        height: 50rem;
        width: 50rem; }
        .card--eventsFuture .pictureContainer--event img {
          height: 50rem;
          width: 100%; }
      .card--eventsFuture .events__futureTextBox {
        height: 20rem;
        width: 90%; } }

/* Bootstraps colors, modified */
:root {
  --bs-indigo: #9F5F80;
  --bs-purple: #583D72;
  --bs-pink: #FF8474;
  --bs-red: #ff847493;
  --bs-orange: #a57acad3;
  --bs-white: #ffffff;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.678309) 3%, rgba(255, 132, 116, 0.1573) 100%); }

/* Restarted margins and paddings in everything */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }
  html body {
    overflow-x: hidden;
    background: var(--bs-gradient); }
