@import "../variablees"
@import "../generals"
@import "../mixins"

// FOOTER

.footer
  background-color: $card-n-btn-background
  border-bottom: $border-line
  height: 5rem
  margin: 0
  padding: 0

  &__list
    height: 4rem

    li a
      font-size: 1.5rem
