@import "../_variablees"
@import "../mixins"

// HEADER 

.header
  border-top: $border-line
  background-color: var(--bs-white)
  position: sticky
  top: 0
  height: auto
  width: 100%
  margin: 0
  box-shadow: $h-shadow
  /* Debido al Zidex del slider */
  z-index: 10

  .header__logo 
    height: 3rem
    transition: transform 2s ease-in-out

    &:hover  
      transform: rotate(360deg)
      





