@import "./variablees"
@import "./mixins"

//    FONTS

i
  transition: transform 2s ease-in-out;

  &:hover
    transform: rotate(360deg)

// <h1> styles

.title
  @include fontStyles($lemonada, $coral)
  font-weight: 600
  font-size: 3rem
  animation-duration: 2s
  animation-name: aparecer

  @keyframes aparecer 
    0% 
      opacity: 0
    
    100% 
      opacity: 1
  
  @include responsive(mobile)
    font-size: 1.8rem

    i 
      font-size: 1.8rem

// <h2> styles
    
.subtitle
  @include fontStyles($lemonada, $light-purple)
  font-weight: 400

// <h3> styles 

.section__title
  @include fontStyles($lemonada, $coral)
  font-weight: bold
  font-size: 1.7rem

// <a> styles

.links
  @include fontStyles($lemonada, $purple)
  font-size: 1.3rem
  text-decoration: none
  transition: 1s

  &:hover
    color: var(--bs-pink)
    text-decoration: underline wavy

  @include responsive(mobile)
    font-size: 1.5rem
  
.links--btn
  color: var(--bs-pink)
  background-color: var(--bs-white)
  border-radius: 0.5rem
  border: $btn-border
  box-shadow: $card-shadow
  width: 20rem
  padding: 0 1rem
  transition: 1s
  align-self: center
  text-align: center

  &:hover
    color: var(--bs-white)
    text-decoration: none
    background-color: var(--bs-red)
    box-shadow: $hover-shadow

// <p> and general text styles
  
.text
  @include fontStyles($lato, $purple)
  font-weight: 300
  font-size: 1.5rem

  @include responsive(mobile)
    font-size: 1.5rem

label
  @extend .text

  @include responsive(mobile)
    font-size: 1.5rem


   