// FONTS
@mixin fontStyles($font-family, $color)
  font-family: $font-family
  color: $color

// CARDS
@mixin containerMod($height, $width)
  height: $height
  width: $width


// MEDIA QUERIES
@mixin responsive($breakpoint)

  @if $breakpoint == mobile
    @media only screen and (min-width: 320px) and (max-width: 767px)
      @content

  @if $breakpoint == tablet
    @media only screen and (min-width: 768px) and (max-width: 1024px)
      @content
  
  @if $breakpoint == largeTablet
    @media only screen and (min-width: 1025px) and (max-width: 1199px)
      @content
  
  @if $breakpoint == desktop
    @media only screen and (min-width: 1200px)
      @content



  