//Modules, mixis, functions, variables
@import "./variablees"
@import "./generals"
@import "./mixins"

//globals
@import "./global/cards"
@import "./global/form"
@import "./global/picture-container"
@import "./global/buttons"


// Partials
@import "./components/header"
@import "./components/footer"

// Pages 

@import "./pages/index"
@import "./pages/adopta"
@import "./pages/adoptados"
@import "./pages/padrinos"
@import "./pages/eventos"
@import "./pages/404"

/* Bootstraps colors, modified */
\:root
  // My Basic colors
  --bs-indigo: #{$light-purple}
  --bs-purple: #{$purple}
  --bs-pink: #{$coral}
  --bs-red: #{$dark-coral}
  //place holder color
  --bs-orange: #{$placeholder-color}
  // others
  --bs-white: #{$card-n-btn-background}
  --bs-gradient: #{$pink-gradient}  

/* Restarted margins and paddings in everything */
*
  margin: 0
  padding: 0

html
  font-size: 62.5%

  body
    overflow-x: hidden
    background: var(--bs-gradient)


