//Modules, mixis, functions, variables
@import "../variablees"
@import "../mixins"

/* EVENTOS */

/* Past Events Section */
.card--events
  width: auto

  p
    align-self: center
    text-align: justify

    @include responsive(tablet)
      height: 30rem

  @include responsive(mobile)
    width: auto
    margin-bottom: 1rem

  @include responsive(tablet)
    @include containerMod(fit-content, auto)
    margin-bottom: 1rem;
  

/*  Future Eventes Section */
.card--eventsFuture
  width: 50%
  align-self: center
  margin-top: 4rem

  h3
    margin-top: 1rem

  .pictureContainer--event
    @include containerMod(40rem, 40rem)

    img
      height: 40rem

  .events__futureTextBox
    @include containerMod(25rem, 90%)
    margin-bottom: 1rem
    align-self: center

    p
      text-align: justify
      margin-top: 1rem

  @include responsive(mobile)
    width: auto
    align-self: center
    margin-top: 4rem

    .pictureContainer--event
      @include containerMod(30rem, 100%)
    
      img
        @include containerMod(auto, 100%)
        object-fit: contain
      
    .events__futureTextBox
      @include containerMod(auto, auto)
      width: auto
      height: auto


  @include responsive(tablet)
    width: auto
    align-self: center
    margin-top: 4rem
    
    .pictureContainer--event
      @include containerMod(50rem, 50rem)
      
      img
        @include containerMod(50rem, 100%)
        
    .events__futureTextBox
      @include containerMod(20rem, 90%)

  @include responsive(largeTablet)
    width: auto
    align-self: center
    margin-top: 4rem
    
    .pictureContainer--event
      @include containerMod(50rem, 50rem)
      
      img
        @include containerMod(50rem, 100%)
        
    .events__futureTextBox
      @include containerMod(20rem, 90%)
