//Modules, mixis, functions, variables
@import "../variablees"
@import "../mixins"

/* MAIN */

.text--textGodfathers

  @include responsive(mobile)
    width: 90%

  @include responsive(tablet)
    width: 90%
    margin: auto auto


.card--godfather
  width: 30%

  .godfatherTexBox
    margin: 0 auto

    a
      margin-top: 7rem

    .planRequirements
      margin-bottom: 2rem 
      list-style-position: outside

      li
        margin: 1rem 0
        height: auto
        text-align: justify

    @include responsive(tablet)
      @include containerMod(48rem, auto)
      width: auto
      height: 48rem 
    
            
  .pictureContainer--godfather
    width: 100%
  
    img 
      object-fit: container

    @include responsive(mobile)    
      @include containerMod(auto, 100%)
      object-fit: container
      border-bottom: 1rem

    @include responsive(tablet)
      @include containerMod(30rem, 30rem)
      object-fit: container
      height: 30rem
      width: 30rem
   
  .planBonus 
    list-style-type: "\1F43E"
    list-style-position:outside
    height: 26rem
    text-align:start

    li 
      line-height: 2rem
      margin: 1rem 0
      height: auto
      text-align: justify

  @include responsive(mobile)
    @include containerMod(80rem, 100%)
    margin: 1rem 0

  @include responsive(tablet)
    width: auto

  @include responsive(largeTablet)
    width: 32%
    
  @include responsive(desktop)
    @include containerMod(80rem, 30%)






