@import "../variablees"
@import "../generals"
@import "../mixins"

// BUTTONS

.btn--mod
  background-color: $card-n-btn-background
  border-radius: 0.5rem
  border: $btn-border
  box-shadow: $card-shadow
  height: 3rem
  width: 10rem
  transition: 1s

  &:hover
    background-color: $dark-coral
    color: $card-n-btn-background
    box-shadow: $hover-shadow
