@import "../variablees"
@import "../mixins"

/*  FORM  */
.form 
  /*  Fieldset's legend styles*/
  fieldset 
    legend.subtitle--mod
      font-size: 1.5rem
      text-align: justify
      padding: 0 0.5rem

      @include responsive(mobile)
        font-size: 1.5rem
        text-align: justify

      @include responsive(tablet)
        font-size: 1.5rem
        text-align: justify

  /* Styles for input, radio buttons and button's containers*/        
  &__inputBox
    display: grid
    grid-template-columns: 1fr 1fr
    text-align: justify
    padding: 0.5rem
    
  &__radioBox
    display: flex
    justify-content: space-between
    align-items: center
    gap: 0.5rem
    padding: 0.5rem

  &__btnBox
    display: flex
    align-items: center
    justify-content: center
    gap: 1rem
    margin-top: 2rem

  @include responsive(mobile)
  
    &__inputBox
      display: flex
      flex-direction: column
      gap: 0.5rem
    
    &__radioBox
      display: flex
      justify-content: space-between
      align-content: center
      align-items: center
      gap: 0.5rem

      p.text
        text-align: start

  @include responsive(tablet)

    &__inputBox
      display: flex
      flex-direction: column
      gap: 0.5rem
    
    &__radioBox
      display: flex
      justify-content: space-between
      align-content: center
      align-items: center
      gap: 0.5rem

/* Styles for PlaceHolders*/  
.form-control::placeholder
  text-align: center
  color: var(--bs-orange)

/*  Form's card container*/  
.card--adoptionsForm
  width: 29rem 

  @include responsive(desktop)
    width: 36rem

.title--form

  @include responsive(tablet)
    font-size: 2.5rem

    i
      font-size: 2.5rem
  
  @include responsive(desktop)
    font-size: 3rem

    i
      font-size: 3rem

/*  Form's inmage styles*/    
.form__img

  @include responsive(tablet)
    display: flex
    height: 50rem

  @include responsive(desktop)
    height: 55rem
         
/*  Form's validations  */
input
  &:not(:placeholder-shown):invalid
   border: 2px solid red
   color: red

  &:valid
   border: 2px solid green
   color: green
  

