/*          ADOPTED          */

/* GRID for ADOPTED */

.grid--adoptied{
  grid-template-rows: 5rem 56rem 1fr 5rem;
  grid-template-areas:  "header header header header header"
                        ". main main main ."
                        ". section section section ."
                        "footer footer footer footer footer";

}

.header__adopted--grid{
  grid-area: header;
}

.main__adopted--grid{
  grid-area: main;
  margin: 1rem 0;
}

.section__adopted--grid{
  grid-area: section;
  margin: 1rem 0;
}

.footer__adopted--grid{
  grid-area: footer;
}

/* SUCCES ADOPTED SECTION  */

.successAdopted{
  display: flex;
  flex-direction: column;
}

.successAdopted h2{
  margin-bottom: 1rem;
}

.successAdopted__container{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.successAdopted__container .card img {
  height: 30rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.successAdopted__container .card--adopted{
  width: 40rem;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-evenly;

}

.successAdopted__container .card--adopted p{
  text-align: justify;

}

/* Other cases Section */

.otherCases{
  margin-bottom: 1rem;
}

.otherCases h2{
  margin-bottom: 1rem;
}

.otherCases__imageBox{
  width: 125rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 30rem 30rem;
  margin: 0;
  margin: 0 auto;

}

.otherCases__imageBox .pictureContainer img{
  height: 25rem;

}

