/*          ADOPTIONS          */

/* MAIN SECTION ADOPTIONS PAGE */

.dogsSection__petCard, .catsSection__petCard{
  max-width: 30%;
}

/*    MEDIA QUERIES    */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 767px){


   .dogsSection__petCard, .catsSection__petCard{
    max-width: 100%;
  }

}

/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1024px){

  .dogsSection__petCard, .catsSection__petCard{
    width: 29rem;
    margin-bottom: 2rem;
    max-width: 100%;
  }

}

