/*          EVENTOS        */



/* MAIN INDEX EVENTOS */

/* Past Events Section */

.card--events{
  width: auto;
}

.card--events p{
  /* width: 90%; */
  align-self: center;
  text-align: justify;
}

/*  Future Eventes Section */

.card--eventsFuture{
  width: 50%;
  align-self: center;
  margin-top: 4rem;
}

.card--eventsFuture h3{
  margin-top: 1rem;
}

.pictureContainer--event{
  height: 40rem;
  width: 40rem;
}

.pictureContainer--event img{
  height: 40rem;
}

.events__futureTextBox{
  width: 90%;
  margin-bottom: 1rem;
  align-self: center;
  height: 25rem;
}

.events__futureTextBox p{
  text-align: justify;
  margin-top: 1rem;
}

/*  EVENT'S FORM SECTION */

/*  form section */

.mainEventForm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.main__form--event{
  margin-top: -20rem;
}

/*    MEDIA QUERIES    */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 767px){


/* MAIN INDEX EVENTOS */

/* Past Events Section */

.card--events{
  width: auto;
  margin-bottom: 1rem;
}

/*  Future Eventes Section */

.card--eventsFuture{
  width: auto;
  align-self: center;
  margin-top: 4rem;
}

.pictureContainer--event{
  height: 30rem;
  width: 100%;
}

.pictureContainer--event img{
  height: auto;
  width: 100%;
  object-fit: contain;
}

.events__futureTextBox{
  width: auto;
  height: auto;
}

}

/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1024px){
  /* GRID for EVENTS, EVENT'S FORM and THANKS MESSANGE */


  /* MAIN INDEX EVENTOS */
  
  /* Past Events Section */
  
  .card--events p{
    height: 30rem;
  }
  
  .card--events{
    width: auto;
    height: fit-content;
    margin-bottom: 1rem;
  }
  
  /*  Future Eventes Section */
  
  .card--eventsFuture{
    width: auto;
    align-self: center;
    margin-top: 4rem;
  }
  
  .pictureContainer--event{
    height: 50rem;
    width: 50rem;
  }
  
  .pictureContainer--event img{
    height: 50rem;
    width: 100%;
  }
  
  .events__futureTextBox{
    width: 90%;
    height: 20rem;
  }

}