/*          INDEX          */

/* grid section */

.grid--index{
  grid-template-rows: 5rem 54rem 36rem 0.5fr;
  grid-template-areas:  "header header header header header"
                        ". main main main ."
                        ". section section section ."
                        "footer footer footer footer footer";

}

.header--grid{
  grid-area: header;
}

.main--grid{
  grid-area: main;

}

.main--grid .main__title--grid {
  grid-area: title;
  justify-items: flex-start;
}

.main--grid .homedoptionSection--grid{
  grid-area: slideshow;
  display: flex;
  flex-direction: row;
}

.main--grid .homeContactUs--grid{
  grid-area: contactForm;
}

.homeAdoptedSection--grid {
  grid-area: section;
  display: flex;
  flex-flow: row wrap;
}

.footer--grid {
  grid-area: footer;
  height: 5em;
}

.main--grid .main__title--grid{
  height: 5rem;
}

/*    MAIN     */

/* SLIDESHOW */

.slideshow{
  border: 1px solid black;
  width: 50rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
}

.menu {
  z-index: 900;
  align-self: center;
}

.menu label {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: 1s;
}

.menu label:hover {
  background: #FF8474;
}

.slide {
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  z-index: 100;
  transition: left .65s ease-out;
}

/* .slide-1 {
  background-image: url("../assets/img/cane-meticcio.jpg");
}
.slide-2 {
  background-image: url("../assets/img/cat-1.jpg");
}
.slide-3 {
  background-image: url("../assets/img/perromestizo.jpg");
}
.slide-4 {
  background-image: url("../assets/img/cat-2.png");
}
.slide-5 {
  background-image: url("../assets/img/perri.jpg");
} */


/* CONTACT US SECTION */

.homeContactUs{
  margin-top: 7.5rem;
}

.card--Indexmod{
  padding-top: 2rem;
  height: 30rem;
  width: 32rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form__buttomBox{
  margin-top: 2rem;
}


/* ARTICLES SECTION */

.homeAdoptedSection{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homeAdoptedSection h2{
  align-self: flex-start;
  justify-self: flex-start;
}

.homeAdoptedSection .links--indexMod{
  margin-top: 2rem;
}

/* ARTICLES */
.articleContainer{
  display: flex;
  gap: 3rem;
}

.card--articleMod{
  width: 70.5rem;
  height: 22rem;
  text-align: center;
}

.articleContainer article {
  display: flex;
  align-items: center;
}

.articleContainer article div{
  text-align: center;
}

.articleContainer article img{
  height: 22rem;
  border-radius: 1rem;
}

.articleContainer article div p{
  margin-top: 1rem;
  height: 20rem;
  width: 27rem;
  text-align: justify;
}







