/*          INDEX          */

/* grid section form HOME */

.grid--index{
  grid-template-rows: 5rem 54rem 41rem 0.5fr;
  grid-template-areas:  "header header header header header"
                        ". main main main ."
                        ". section section section ."
                        "footer footer footer footer footer";

}

.header--grid{
  grid-area: header;
}

.main--grid{
  grid-area: main;

}

.main--grid .main__title--grid {
  grid-area: title;
  margin-top: 1rem;

}

.main--grid .homedoptionSection--grid{
  grid-area: slideshow;
  display: flex;
  flex-flow: row wrap;
}

.homeAdoptedSection--grid {
  grid-area: section;
  display: flex;
  flex-flow: row wrap;
 }

.footer--grid {
  grid-area: footer;
  height: 5em;
}

.main--grid .main__title--grid{
  height: 5rem;
}

/*    MAIN     */

/* SLIDESHOW */

.adoptionAndContact{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.slideshow{
  width: 90rem;
  height: 45rem;
}

/* slideshow part */

.slider-container{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden; 
  text-align: center;
  padding: 0;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  transition: 1.5s;
}

.menu label:hover {
  background: #FF8474;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s 1s;
}

[id^="slide"]:checked + .slide {
  color: #FF8474;
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.pictureContainer--slidershow{
  height: 100%;
  width: 100%;

}

.pictureContainer--slidershow img{
  height: 45rem;
  width: 90rem;
}

/* CONTACT US SECTION */

.card--Indexmod{
  padding-top: 2rem;
  width: 33rem;
  align-items: center;
  margin-right: 10rem;
  margin: 0 auto;
}


/*    SMALL ADOPTED SECTION     */

.homeAdoptedSection{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.homeAdoptedSection a{
  align-self: center;
  margin-top: 2rem;
}

.homeAdoptedSection .links--indexMod{
  margin: 1rem 0;
}


/* Articles */

.articleContainer{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.card--articleMod{
  width: 65rem;
  height: 25rem;
  text-align: center;
}

.articleContainer article {
  display: flex;
  align-items: center;
}

.articleContainer article div{
  text-align: center;
}

.articleContainer article img{
  height: 22rem;
  border-radius: 1rem;
}

.articleContainer article div p{
  margin-top: 1rem;
  height: 20rem;
  width: 30rem;
  text-align: justify;
}


/*    MEDIA QUERIES    */

/* MOBIEL */

@media only screen and (min-width: 411px) and (max-width: 767px){

  .grid--index{
    grid-template-rows: 10rem 82rem 1fr 0.5fr;
    grid-template-areas:  "header header header "
                          ". main ."
                          ". section ."
                          "footer footer footer";
  
  }

  .main--grid .main__title--grid{
    font-size: 2.5rem;

    text-align: center;
  }

  .main--grid .homedoptionSection--grid{
    display: flex;
    flex-flow: column wrap;
  }

  .homeAdoptedSection--grid {
    grid-area: section;
    display: flex;
    flex-flow: column wrap;
  }

  /* SLIDESHOW */

  .adoptionAndContact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }

  .slideshow{
    width: 100vw;
    height: 45rem;
    margin-bottom: 1rem;

  }

  /* slideshow part */
  
  .pictureContainer--slidershow img{
    height: 45rem;
    width: 100%;
  }

  /* CONTACT US SECTION */

  .card--Indexmod{
    width: 33rem;

  }

  /*    SMALL ADOPTED SECTION     */

  /* Articles */

  .articleContainer{
    flex-flow: column wrap;
  }

  .card--articleMod{
    width: 35rem;
    height: 51rem;

  }

  .articleContainer article {
    flex-flow: column-reverse nowrap;
  }

}



