/*          INDEX          */

/*    MAIN     */


/* CONTACT US SECTION */
.homeContactUs {
  display: flex;
  width: 30%;
}

.card--Indexmod{
  width: 30%;
}



/* Articles */

.articleContainer{
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.card--articleMod{
  width: 50%;
  text-align: center;
}

.articleContainer article {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  height: auto;

}

.articleContainer article div{
  text-align: center;
  width: 50%;
}

.articleContainer article img{
  height: 20rem;
  border-radius: 1rem;
}

.articleContainer article div p{
  margin-top: 1rem;
  text-align: justify;
}

/*    MEDIA QUERIES    */

/* MOBIEL */

@media only screen and (min-width: 320px) and (max-width: 767px){


  /* SLIDESHOW */

  .adoptionAndContact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }

  /*    SMALL ADOPTED SECTION     */

  /* Articles */

  .homeAdoptedSection{
    justify-content: center;
    align-items: center;
  }


  .articleContainer{
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 auto;
  }

  .card--articleMod{
   height: 48rem;
   width: 100%;
  }

  .articleContainer article {
    height: auto;
    flex-flow: column-reverse nowrap;
  }

  .articleContainer article div{
    height: auto;
    text-align: center;
    width: 25rem;
  }

  .articleContainer article div p {
    width: 26rem;
  }

}

/* tablet */

@media only screen and (min-width: 768px) and (max-width: 1199px){


  /* SLIDESHOW */

  .adoptionAndContact{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
  }

  .slideshow{
    width: auto;


  }

  /* slideshow part */
  
  .pictureContainer--slidershow img{
    height: 45rem;
    width: 100%;
  }

  /* CONTACT US SECTION */

  .homeContactUs {
    display: none;

  }

  /*    SMALL ADOPTED SECTION     */

  .homeAdoptedSection a{
    margin-bottom: 2rem;
  }

  .articleContainer{
    justify-content: space-evenly;
  }

  /* Articles */

  .card--articleMod{
   height: 48rem;
   width: 33rem;
  
  }

  .articleContainer article {
    flex-flow: column-reverse nowrap;
  }

  .articleContainer article div{
    text-align: center;
    width: 30rem;
  }

  .articleContainer article div p {
    height: auto;
  }

}

@media only screen and (min-width: 1200px){
  .homedoptionSection{
    width: auto;
  }
}














