 /*          GODFATHERS          */

/* MAIN */

/* .main__godfatherGridBox{
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
  margin: 0;
} */

/* .text--textGodfathers{
  justify-self: center;
  font-size: 1.5rem;
  text-align: justify;
  color: #583D72;
  line-height: 2rem;
  margin: 1rem 0;
} */

.card--godfather{
  width: 30%;
}

.godfatherTexBox{
  margin: 0 auto ;

}

.pictureContainer--godfather{
  width: 100%;
}

.pictureContainer--godfather img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.godfatherTexBox .planRequirements{
  margin-bottom: 2rem ;
  list-style-position:outside;
}

.godfatherTexBox .planRequirements li, .planBonus li {
  margin: 1rem 0;
  height: auto;
  text-align: justify;
}

.godfatherTexBox a{
  margin-top: 7rem;
}

.planBonus {
  list-style-type: "\1F43E";
  list-style-position:outside;
  height: 26rem;
  text-align:start;
}

.planBonus li{
  line-height: 2rem;
}

/*    MEDIA QUERIES    */

/* MOBILE */

@media only screen and (min-width: 320px) and (max-width: 767px){
  /* GRID for Index, Form and Thanks messange */

  /* MAIN */

  .text--textGodfathers{
    width: 90%;
  }

  .card--godfather{
    width: 100%;
    height: 80rem;
    margin: 1rem 0;
  }

  .pictureContainer--godfather{
    height: auto;
    width: 100%;
    border-bottom: 1rem;
  }


}


/* TABLET */

@media only screen and (min-width: 768px) and (max-width: 1023px){
  /* MAIN */



  .text--textGodfathers{
    width: 90%;
    margin: auto auto;
  }

  .card--godfather{
    width: 100%;

  }

  .pictureContainer--godfather{
    height: 30rem;
    width: 30rem;
  }

  .pictureContainer--godfather img {
    margin: 0;
    padding: 0;
  }

  .godfatherTexBox{
    width: auto;
    height: 48rem;  }

}

@media only screen and (min-width:1024px) {

  .main__godfatherGridBox{
    justify-content: space-around;

  }
  
  .card--godfather{
    height: 80rem;
    width: 30%;


  }

}