/*    GENERAL   */

/* Most of the pictures are from "https://www.pexels.com/es-es/" */

/*  ROOT  */

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  background: linear-gradient(180deg, rgba(255,255,255,0.6783088235294117) 3%, rgba(255,132,116,0.15730042016806722) 100%);
}

.wrapper{
  max-width: 80%;
  margin: 0 auto;
}

/* Grid */

.grid{
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}

/*  FONTS */

/* <h1> styles */

.title{
  font-family: 'Lemonada', cursive;
  font-weight: 600;
  font-size: 3rem;
  color: #FF8474;
  animation-duration: 2s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title i {
  font-size: 3rem;
  color: #FF8474;
}


/* <h2> styles */

.subtitle{
  font-family: 'Lemonada', cursive;
  font-weight: 400;
  color: #9F5F80;
}

/* <h3> styles */

.secction__title{
  font-family: 'Lemonada', cursive;
  font-weight: bold;
  color: #FF8474;
  font-size: 1.7rem;
}

/* <a> styles */

.links{
  font-size: 1.3rem;
  text-decoration: none;
  color: #583D72;  
  font-family: 'Lemonada', cursive;
  transition: 1s;
}

.links:hover{  
  color: #FF8474;
  text-decoration: underline wavy;  
}


.links--btn{
  color: #ff8474 ;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #FF8474;
  box-shadow: 0px 1px 10px -1px #ff847471;
  width: 20rem;
  padding: 0 1rem;
  transition: 1s;
  align-self: center;
  text-align: center;
}

.links--btn:hover{
  color: #ffffff;
  text-decoration: none;
  background-color: #ff847493 ;
  box-shadow: 0px 8px 18px -1px #ffffff;
}

/* <p> and general text styles */

.text, label{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #583D72;
}


/*  CARDS  */

.card{
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 18px -1px #ff847471;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

/*  FORMs  */

.main--mod{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main--Form{
  min-height: calc(100vh - 12.5rem);
}

.form fieldset legend.subtitle--mod{
  font-size: 1.5rem;
  text-align: justify;
  padding: 0 0.5rem;
}

.form__inputBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  padding: 0.5rem;
}

.text--mod{
  font-size: 1.3rem;
}

.form__radioBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

input::placeholders{
  text-align: center;
  color: #a57acad3 ;
}

.form__img{
  height: 75rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 18px -1px #ff847448;
  margin-bottom: 1rem;
}

/*    BUTTOMS */

.form__btnBox{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

}

.btn{
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #FF8474;
  box-shadow: 0px 1px 10px -1px #ff847471;
  height: 3rem;
  width: 13rem;
  transition: 1s;
}

.btn:hover{
  background-color: #ff847493;
  box-shadow: 0px 8px 18px -1px #ffffff;
}


/*    THANKS MESSAGE  */

.main--mod .card--mod{
  width: 70rem ;
  height: 20rem;
  justify-self: center;
  align-self: center;
}

.subtitle--mod{
  font-size: 2.5rem;
}

.text--mod{
  font-size: 2rem;
  text-align: justify;
  margin: 1rem;
}

.links--mod{
  font-size: 2rem;
}

/* PICTURES CONTAINERS FORM ZOOM TRANSITION */

.pictureContainer{
  margin:auto auto;
  overflow: hidden;
  width: 25rem;
  border-radius: 1rem;
}

.pictureContainer img{
  height: 25rem;
  width: auto;
  border-radius: 0.5rem;
  transition: transform 1s;
  object-fit: cover;
}

.pictureContainer img:hover{
  transform: scale(1.2);
}

/*  HEADER  */

.header{
  border-top: 0.5rem solid #FF8474; 
  background-color: white;
  position: sticky;
  top: 0;
  height: 5rem;
  box-shadow: 0px 0.5px 18px -1px #ff84744f;
  /* Debido al Zidex del slider */
  z-index: 100000000; 
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.header__logo, i{
  height: 4rem;
  transition: transform 2s ease-in-out;
}

.header__logo:hover, i:hover{
  transform:rotate(360deg);
}

.list{
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 0.7rem;
}

/*  FOOTER  */

.footer{
  background-color: white;
  border-bottom: 0.5rem solid #FF8474;
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer__list{
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

.footer__list li a{
  font-size: 2rem;
}

.footer__links{
  display: flex;
  gap: 1.5rem;
}

/*    MEDIA QUERIES     */

@media only screen and (min-width: 375px) and (max-width: 767px){

  /* GENERAL */

  .title, .title i {
    font-size: 1.8rem;
  }
    
  /* <a> styles */
  
  .links{
    font-size: 1.2rem;
  }
  
  /* <p> and general text styles */
  
  .text, label{
    font-size: 1.2rem;
  }  

  /* HEADER */

  .header{
    height: 10rem;
  } 
  
  .header__wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__wrapper nav ul {
    gap: 2%;
  }
  

}



